main{
    background-color: white;
    video{
        width: 100%;
        height: 100%;
    }
    .contenedor-imagenes{
        padding: 1%;
        justify-items: center;
        .row{
            justify-content: center;
            margin: 0;
            #demo{
                .carousel-inner{
                    .carousel-item{
                        .img-inicio{
                            height: 190px;
                            width: auto;
                            padding: 1%;
                            border-radius: 6px;
                            border-bottom-left-radius: 0;
                            border-bottom-right-radius: 0;
                        }
                    }
                    .subimagen{
                        border: solid 1px grey;
                        width: 80%;
                        border-radius: 4px;
                        justify-content: center;
                        margin-left: 16px;
                        border-top: 0;
                        border-top-left-radius: 0;
                        border-top-right-radius: 0;
                        background: rgb(217,216,216);
                        background: linear-gradient(0deg, rgba(217,216,216,1) 20%, rgba(255,248,248,1) 60%);
                        p{
                            border-top: solid 1px grey;
                        }
                    }  
                }
            }
             
        }
    }
    .borde-texto{
        border-top: 1px solid grey;
        text-align: center;
        margin-top: 2%;
        padding: 0;
        width: 90%;
        .texto{
            border: 2px solid grey;
            border-radius: 6px;
            margin: 2%;
            height: 350px;
            .borde-interno-texto{
                border: 1px solid rgb(179, 179, 179);
                border-radius: 6px;
                margin: 1%;
                height: 300px;
            }
        }
    }
    .carousel-inner{
        .carousel-item{
            .img-carousel{
                width: 100%;
                height: 100%;
            }
        }
    }
}

/* INDUMENTARIA */

.features{
    height: 210px;
    width: auto;
    padding: 1%;
    border-radius: 6px;
}
main{
    .titulos-indumentaria{
        @include font(14px,700);
        border-bottom: 1px solid rgb(179, 179, 179);
        text-align: center;
    }
    .contenedor-buzos{
        .row{
            justify-content: center;
            .img-buzo{
                @extend .features;
            }
        }
    }
    .contenedor-remeras{
        .row{
            justify-content: center;
            .img-remeras{
                @extend .features;
            }
        }
    }
    .contenedor-camperas{
        height: 500px;
        .row{
            justify-content: center;
            .img-camperas{
                @extend .features;
            }
        }
    }
}

/* CONTACTO */

main{
    .cabeza{
        color: black;
        font-size: 27px;
        padding: 10px;
        border-bottom: 1px solid rgb(179, 179, 179);
    }
    .btn{
        background-color: rgb(179, 179, 179);
        color: black;
    }
}

/* MEDIA QUERYS */

@media only screen and (min-width:425px){
    main{
        .contenedor-imagenes{
            .row{
                #demo{
                    .carousel-inner{
                        .carousel-item{
                            .img-inicio{
                                height: 260px;
                                border-radius: 8px;
                                border-bottom-left-radius: 0;
                                border-bottom-right-radius: 0;
                            }
                        }
                        .subimagen{
                            width: 85%;
                            border-radius: 4px;
                            margin-left: 16.5px;
                            border-top: 0;
                            border-top-left-radius: 0;
                            border-top-right-radius: 0;
                        }  
                    }
                } 
            }
        } 
    } 
}
@media only screen and (min-width:768px){
    header{
        .logo{
            height: 200px;
            width: auto;
        }
        .nav{
            font-size: 20px;
        }
    }
    main{
        .contenedor-imagenes{
            .row{
                #demo{
                    .carousel-inner{
                        .carousel-item{
                            .img-inicio{
                                height: 230px;
                                border-radius: 12px;
                                border-bottom-left-radius: 0;
                                border-bottom-right-radius: 0;
                            }
                        }
                        .subimagen{
                            width: 83.5%;
                            border-radius: 4px;
                            margin-left: 15px;
                            border-top: 0;
                            border-top-left-radius: 0;
                            border-top-right-radius: 0;
                        }
                    }
                } 
            }
        }
    }
    .grilla-footer{
        .navbar-nav{
            border-top: 1px solid grey;
            font-size: 20px;
            text-align: left;
        }
        .p-footer{
            margin: 0;
            font-size: 20px;
        }
        .logo-footer{
            width: 260px;
            height: 100px;
            justify-items: center;
        }
        .redes{
            i{
                font-size: 50px;
                text-align: center;
                padding-left: 2%;
            }   
        }
    }
    
    /* INDUMENTARIA */

    main{
        .contenedor-buzos{
            .row{
                .img-buzo{
                    height: 250px;
                }
            }
        }
        .contenedor-remeras{
            .row{
                .img-remeras{
                    height: 250px;
                }
            }
        }
        .contenedor-camperas{
            .row{
                .img-camperas{
                    height: 250px;
                }
            }
        }
    }
}
@media only screen and (min-width:1024px){
    main{
        .contenedor-imagenes{
            height: 400px;
            .row{
                #demo{
                    .carousel-inner{
                        .carousel-item{
                            .img-inicio{
                                height: 330px;
                                border-radius: 14px;
                                border-bottom-left-radius: 0;
                                border-bottom-right-radius: 0;
                            }
                        }
                        .subimagen{
                            font-size: 20px;
                            width: 88%;
                            border-radius: 4px;
                            margin-left: 15px;
                            border-top: 0;
                            border-top-left-radius: 0;
                            border-top-right-radius: 0;
                        }
                    }
                } 
            }
        }
    }

    /* INDUMENTARIA */

    main{
        .contenedor-buzos{
            .titulos-indumentaria{
                font-size: 20px;
            }
            .row{
                .img-buzo{
                    height: 300px;
                }
            }
        }
        .contenedor-remeras{
            .titulos-indumentaria{
                font-size: 20px;
            }
            .row{
                .img-remeras{
                    height: 300px;
                }
            }
        }
        .contenedor-camperas{
            .titulos-indumentaria{
                font-size: 20px;
            }
            .row{
                .img-camperas{
                    height: 300px;
                }
            }
        }
    }
}
@media only screen and (min-width:1440px){
    main{
        .contenedor-imagenes{
            height: 550px;
            .row{
                #demo{
                    .carousel-inner{
                        .carousel-item{
                            .img-inicio{
                                height: 480px;
                                border-radius: 18px;
                                border-bottom-left-radius: 0;
                                border-bottom-right-radius: 0;
                            }
                        }
                        .subimagen{
                            font-size: 20px;
                            width: 91.5%;
                            border-radius: 4px;
                            margin-left: 15px;
                            border-top: 0;
                            border-top-left-radius: 0;
                            border-top-right-radius: 0;
                        }
                    }
                } 
            }
        }
        .borde-texto{
            .texto{
                border: 2px solid grey;
                border-radius: 6px;
                margin: 2%;
                height: 360px;
                .borde-interno-texto{
                    border: 1px solid rgb(179, 179, 179);
                    border-radius: 6px;
                    margin: 1%;
                    height: 300px;
                    font-size: 25px;
                }
            }  
        }
    }

    .grilla-footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        text-align: center;
        footer{
            background-color: white;
            display: block;
            border-top: 1px solid grey;
        }    
        .p-footer{
            margin: 0;
         }
        .logo-footer{
            width: auto;
            height: 150px;
            grid-column: 2/3;
        }
        .redes{
            grid-column: 3/4;
        }
    }

    /* INDUMENTARIA */

    main{
        .contenedor-buzos{
            .titulos-indumentaria{
                font-size: 25px;
            }
            .row{
                .img-buzo{
                    height: 450px;
                }
            }
        }
        .contenedor-remeras{
            .titulos-indumentaria{
                font-size: 25px;
            }
            .row{
                .img-remeras{
                    height: 450px;
                }
            }
        }
        .contenedor-camperas{
            height: 800px;
            .titulos-indumentaria{
                font-size: 25px;
            }
            .row{
                .img-camperas{
                    height: 450px;
                }
            }
        }
    }
}
@media only screen and (min-width:1920px){
    .header{
        .logo{
            width: 600px;
        }
        .nav{
            font-size: 30px;
        }
    }
    main{
        video{
            height: auto;
            padding: 0;
        }
        .contenedor-imagenes{
            height: 950px;
            .row{
                #demo{
                    .carousel-inner{
                        .carousel-item{
                            .img-inicio{
                                height: 850px;
                            }
                        }
                        .subimagen{
                            font-size: 30px;
                            width: 95%;
                            border-radius: 4px;
                            margin-left: 15px;
                            border-top: 0;
                            border-top-left-radius: 0;
                            border-top-right-radius: 0;
                        }
                    }
                } 
            }
        }
        .borde-texto{
            .texto{
                .borde-interno-texto{
                    height: 260px;
                }
            }
        }
        .navbar-nav{
            font-size: 35px;
            width: 170px;
        }
    }
    
    .grilla-footer{
        .p-footer{
            font-size: 45px;
        }
        .navbar-nav{
            font-size: 45px;
            width: 220px;
        }
        .logo-footer{
            height: 200px;
        }
        .redes i{
            font-size: 80px;
        }
    }

    /* INDUMENTARIA */
    main{
        .contenedor-buzos{
            .titulos-indumentaria{
                font-size: 30px;
            }
            .row{
                .img-buzo{
                    height: 700px;
                }
            }
        }
        .contenedor-remeras{
            .titulos-indumentaria{
                font-size: 30px;
            }
            .row{
                .img-remeras{
                    height: 700px;
                }
            }
        }
        .contenedor-camperas{
            height: 1000px;
            .titulos-indumentaria{
                font-size: 30px;
            }
            .row{
                .img-camperas{
                    height: 700px;
                }
            }
        }
    }

    /* CONTACTO */
    main{
        .cabeza{
            font-size: 45px;
        }
        #fname{
            font-size: 30px;
            height: 100px;
        }
        #lname{
            font-size: 30px;
            height: 100px;
        }
        #email{
            font-size: 30px;
            height: 100px;
        }
        #phone{
            font-size: 30px;
            height: 100px;
        }
        .form-control{
            font-size: 30px;
        }
    }
} 